<launch>
    <param name="is_urban" type="bool" value="$(arg is_urban)" />
    <group if="$(arg is_urban)">
        <node name="road_sign_detector" pkg="vision" type="road_sign_detector" output="screen" respawn="true" />
    </group>

    <node name="vision_cpp" pkg="vision" type="vision_cpp" output="screen" respawn="true" />
    <node name="lidar" pkg="vision" type="lidar" output="screen" respawn="true" />
    <node name="master" pkg="master" type="master" output="screen" respawn="true" />
</launch>